{% extends "layout.html" %}
{% block content %}
<div class="grid">
    {% for year in data %}
    <div class="date">
        <span class="year">
            {{ year.year }}年
        </span>

        {% for key in range(1, 13) %}
        <a href="/{% if id %}{{ id }}/{% endif %}date/{{ year.year }}/{{ key }}"
            class="month {% if key in year.month.keys() %} enable {% else %} disable {% endif %}">
            {{ key }}月
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}