<footer class="footer" id="bottom-footer">
    <div>
        <a href="https://github.com/caibingcheng/rssblog-source" target="_blank" rel="noopener noreferrer">
            RssBlog-Source
        </a>
    </div>
    <div>
        <a href="https://travellings.now.sh/" target="_blank" rel="noopener" title="开往-友链接力">
            <img src="https://travellings.now.sh/assets/logo.gif" alt="开往-友链接力" width="80" />
        </a>
    </div>
    <div>
        <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename = 'vercel.svg') }}" alt="Vercel Logo" class="logo" />
        </a>
    </div>
</footer>