<head>
    <title>RSSBlog</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'custom.css', _t=val) }}"/>
    <script src="{{ url_for('static', filename = 'custom.js', _t=val) }}"></script>
</head>
