<div class="menu">
    <a href="/{% if id %}{{ id }}{% endif %}" class="menuhome normalink">Home</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}member" class="menumember normalink">Members</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}date" class="menumember normalink">Calendar</i></a>
    &nbsp;&nbsp;
    <a href="https://www.travellings.cn/go.html" class="menuhome normalink">Travelling</a>
    <!-- &nbsp;&nbsp;
    <a href="javascript:void(0);" class="menuhome normalink menu-action-random"><i class="fa fa-random" aria-hidden="true"></i></a> -->
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}rss" class="menumember normalink">RSS</i></a>
    &nbsp;&nbsp;
    <!-- <a href="/about" class="menumember normalink">About</a> -->
</div>