<div class="menu">
    <a href="/" class="menuhome normalink"><i class="fa fa-home" aria-hidden="true"></i></a>
    &nbsp;&nbsp;
    <a href="/member" class="menumember normalink"><i class="fa fa-users" aria-hidden="true"></i></a>
    &nbsp;&nbsp;
    <a href="https://travellings.link" class="menuhome normalink"><i class="fa fa-subway" aria-hidden="true"></i></a>
    <!-- &nbsp;&nbsp;
    <a href="javascript:void(0);" class="menuhome normalink menu-action-random"><i class="fa fa-random" aria-hidden="true"></i></a> -->
    &nbsp;&nbsp;
    <a href="/rss" class="menumember normalink"><i class="fa fa-rss" aria-hidden="true"></i></a>
    &nbsp;&nbsp;
    <a href="/about" class="menumember normalink"><i class="fa fa-question" aria-hidden="true"></i></a>
</div>